@model SportsStore.UI.Models.ProductsListViewModel

@{
    ViewBag.Title = "List";
}

<h2>Products</h2>

@foreach (var product in this.Model.Products)
{
    Html.RenderPartial(MVC.Shared.Views.ProductSummary, product);
}
<div class="pager">
    @Html.PageLinks(this.Model.PagingInfo, x => Url.Action(MVC.Product.List(this.Model.CurrentCategory, x)))
</div>
