<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="csrfSettings" type="Idunno.AntiCsrf.Configuration.CsrfSettings, Idunno.AntiCsrf" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Msts.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="WebForms" />
  </appSettings>
  <connectionStrings>
    <!-- TODO: Replace the ****'s with the correct entries -->
    <add name="Msts" providerName="System.Data.SqlClient" connectionString="Data Source=.\sqlexpress;Initial Catalog=pubs;Integrated Security=True" />
    <add name="PubsEntities" connectionString="metadata=res://*/DataAccess.EFData.Pubs.csdl|res://*/DataAccess.EFData.Pubs.ssdl|res://*/DataAccess.EFData.Pubs.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=pubs;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="elmah-sqlserver" connectionString="Data Source=.\sqlexpress;Initial Catalog=pubs;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <healthMonitoring enabled="true" heartbeatInterval="1">
      <providers>
        <remove name="SqlWebEventProvider" />
        <add connectionStringName="Msts" maxEventDetailsLength="1073741823" buffer="false" bufferMode="Notification" name="SqlWebEventProvider" type="System.Web.Management.SqlWebEventProvider,System.Web,Version=4.0.0.0,Culture=neutral,PublicKeyToken=b03f5f7f11d50a3a" />
      </providers>
      <rules>
        <add name="All Events" eventName="All Events" profile="Default" provider="EventLogProvider" />
        <add name="Heartbeats" eventName="Heartbeats" profile="Critical" provider="EventLogProvider" />
        <add name="Application Lifetime Events" eventName="Application Lifetime Events" profile="Default" provider="EventLogProvider" />
        <add name="Request Processing Events" eventName="Request Processing Events" profile="Critical" provider="EventLogProvider" />
        <add name="All Errors" eventName="All Errors" profile="Critical" provider="SqlWebEventProvider" />
        <add name="Infrastructure Errors" eventName="Infrastructure Errors" profile="Default" provider="EventLogProvider" />
        <add name="Request Processing Errors" eventName="Request Processing Errors" profile="Critical" provider="EventLogProvider" />
        <add name="All Audits" eventName="All Audits" profile="Default" provider="EventLogProvider" />
        <add name="Failure Audits" eventName="Failure Audits" profile="Critical" provider="EventLogProvider" />
        <add name="Success Audits" eventName="Success Audits" profile="Default" provider="EventLogProvider" />
      </rules>
    </healthMonitoring>
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
    <customErrors defaultRedirect="~/DefaultErrorPage.html" mode="Off" redirectMode="ResponseRewrite"></customErrors>
    <authentication mode="Forms">
      <forms defaultUrl="~/" cookieless="UseCookies" enableCrossAppRedirects="false" loginUrl="login.aspx" name="Mstc_auth" path="/" protection="All" requireSSL="false" slidingExpiration="true" timeout="1800" ticketCompatibilityMode="Framework40" />
    </authentication>
    <globalization culture="en-US" uiCulture="en-US" enableClientBasedCulture="true" />
    <webParts enableExport="true">
      <personalization defaultProvider="AspNetSqlPersonalizationProvider">
        <authorization></authorization>
        <providers>
          <remove name="AspNetSqlPersonalizationProvider" />
          <add name="AspNetSqlPersonalizationProvider" type="System.Web.UI.WebControls.WebParts.SqlPersonalizationProvider" applicationName="/" connectionStringName="Msts" />
        </providers>
      </personalization>
    </webParts>
    <siteMap enabled="true" defaultProvider="CustomSiteMapProvider">
      <providers>
        <clear />
        <add name="CustomSiteMapProvider" type="Msts.Topics.Chapter05.Lesson02.CustomSiteMapProvider" siteMapFile="Web.sitemap" />
        <add name="XmlWebSiteMapProvider" type="System.Web.XmlSiteMapProvider" description="Site map from file" siteMapFile="Web.sitemap" />
      </providers>
    </siteMap>
    <sessionState mode="InProc" timeout="30" compressionEnabled="true" cookieless="UseCookies" cookieName="myCustomSession" regenerateExpiredSessionId="false" stateNetworkTimeout="10" stateConnectionString="tcpip=localhost:42424" allowCustomSqlDatabase="true" sqlCommandTimeout="10" sqlConnectionString="Data Source=.\sqlexpress;Initial Catalog=pubs;Integrated Security=True" sqlConnectionRetryInterval="5">
      <providers></providers>
    </sessionState>
    <httpCookies httpOnlyCookies="false" requireSSL="false" />
    <httpModules>
      <add name="RequestLifeCycle" type="Msts.Topics.Chapter03.Lesson01.RequestLifeCycle" />
      <add name="ChangeMasterPageModule" type="Msts.Topics.Chapter02.Lesson01___MasterPages.ChangeMasterPageModule" />
      <add name="AntiCSRF" type="Idunno.AntiCsrf.AntiCsrfModule, Idunno.AntiCsrf" />
      <add name="Localization" type="Msts.Topics.Chapter06___Globalization_and_Accessibility.Lesson01___Globalization_and_Localization.LocalizationModule" />
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
    </httpModules>
    <httpHandlers>
      <add type="Msts.Topics.Chapter10___Services_and_Handlers.Lesson01___Handlers.RetrievingImageAsyncHandler" verb="*" path="*.myhandler" />
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
    </httpHandlers>
    <caching>
      <outputCache enableOutputCache="true">
        <providers></providers>
      </outputCache>
      <outputCacheSettings>
        <outputCacheProfiles>
          <add name="filesDependency" duration="30" varyByParam="none" enabled="true" location="Server" />
          <add name="genericDependency" duration="45" enabled="true" />
          <add name="shortTime" duration="15" enabled="true" />
        </outputCacheProfiles>
      </outputCacheSettings>
      <sqlCacheDependency enabled="true" pollTime="5000">
        <databases>
          <add name="PUBS" connectionStringName="Msts" pollTime="2000" />
        </databases>
      </sqlCacheDependency>
    </caching>
    <trace enabled="true" pageOutput="false" localOnly="true" mostRecent="true" traceMode="SortByTime" />
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" encoderType="Microsoft.Security.Application.AntiXssEncoder, AntiXssLibrary" maxRequestLength="4096" requireRootedSaveAsPath="true" />
    <pages styleSheetTheme="Blue" pageBaseType="Msts.MctsBasePage" controlRenderingCompatibilityVersion="4.5">
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
    </pages>
    <membership defaultProvider="AspNetSqlMembershipProvider">
      <providers>
        <remove name="AspNetSqlMembershipProvider" />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="Msts" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="true" applicationName="/" requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="7" minRequiredNonalphanumericCharacters="1" passwordAttemptWindow="10" passwordStrengthRegularExpression="" />
      </providers>
    </membership>
    <roleManager defaultProvider="AspNetSqlRoleProvider" enabled="true">
      <providers>
        <remove name="AspNetSqlRoleProvider" />
        <add name="AspNetSqlRoleProvider" connectionStringName="Msts" applicationName="/" type="System.Web.Security.SqlRoleProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </providers>
    </roleManager>
    <anonymousIdentification enabled="true" cookieProtection="All" cookieRequireSSL="false" cookieless="UseCookies" cookiePath="/" cookieTimeout="10080" cookieSlidingExpiration="true" cookieName="Msts_Profile" />
    <profile enabled="true" inherits="Msts.CustomProfile" defaultProvider="AspNetSqlProfileProvider">
      <providers>
        <remove name="AspNetSqlProfileProvider" />
        <add name="AspNetSqlProfileProvider" connectionStringName="Msts" applicationName="/" type="System.Web.Profile.SqlProfileProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </providers>
    </profile>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <add name="RequestLifeCycle" type="Msts.Topics.Chapter03.Lesson01.RequestLifeCycle" />
      <add name="ChangeMasterPageModule" type="Msts.Topics.Chapter02.Lesson01___MasterPages.ChangeMasterPageModule" />
      <add name="AntiCSRF" type="Idunno.AntiCsrf.AntiCsrfModule, Idunno.AntiCsrf" />
      <add name="Localization" type="Msts.Topics.Chapter06___Globalization_and_Accessibility.Lesson01___Globalization_and_Localization.LocalizationModule" />
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
    </modules>
    <handlers>
      <add name="AsynchronousHandlerTest" type="Msts.Topics.Chapter10___Services_and_Handlers.Lesson01___Handlers.RetrievingImageAsyncHandler" verb="*" path="*.myhandler" />
      <remove name="ChartImageHandler" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </handlers>
    <!--<httpErrors 
      errorMode="Detailed"
       existingResponse="Replace">
      <remove statusCode="500" />
      <error responseMode="ExecuteURL"
        statusCode="500" 
        path="/DefaultErrorPage.aspx" />
    </httpErrors>-->
  </system.webServer>
  <system.web.extensions>
    <scripting>
      <scriptResourceHandler enableCaching="false" enableCompression="false" />
      <webServices>
        <profileService enabled="true" readAccessProperties="LastLogin, Language" writeAccessProperties="LastLogin, Language" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <csrfSettings cookieName="__CSRFCOOKIE21" formFieldName="__CSRFTOKEN21" detectionResult="RaiseException" errorPage="" />
  <system.net>
    <mailSettings>
      <smtp deliveryFormat="International" deliveryMethod="Network" from="mstscertificationtests@mailinator.com">
        <network enableSsl="false" host="localhost" port="25" defaultCredentials="true" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="IHelloWorldWcfRestService_Behavior">
          <enableWebScript />
          <webHttp />
        </behavior>
        <behavior name="HelloWorldWcfDataService">
          <enableWebScript />
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <standardEndpoints>
      <webHttpEndpoint>
        <standardEndpoint crossDomainScriptAccessEnabled="true"></standardEndpoint>
      </webHttpEndpoint>
      <webScriptEndpoint>
        <standardEndpoint crossDomainScriptAccessEnabled="true"></standardEndpoint>
      </webScriptEndpoint>
    </standardEndpoints>
    <bindings>
      <basicHttpBinding>
        <binding name="HelloWorldServiceSoap" />
        <binding name="BasicHttpBinding_IHelloWorldWcfService" />
      </basicHttpBinding>
      <webHttpBinding>
        <binding crossDomainScriptAccessEnabled="true" allowCookies="true" name="IHelloWorldWcfRestService_Binding" />
        <binding crossDomainScriptAccessEnabled="true" name="HelloWorldWcfDataService"></binding>
      </webHttpBinding>
      <customBinding>
        <binding name="HelloWorldServiceSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <services>
      <service name="Msts.Topics.Chapter10___Services_and_Handlers.Lesson03___WCF_Services.HelloWorldWcfRestService">
        <endpoint address="" behaviorConfiguration="IHelloWorldWcfRestService_Behavior" binding="webHttpBinding" bindingConfiguration="IHelloWorldWcfRestService_Binding" contract="Msts.Topics.Chapter10___Services_and_Handlers.Lesson03___WCF_Services.IHelloWorldWcfRestService"></endpoint>
      </service>
      <service name="HelloWorldWcfDataService">
        <endpoint address="" behaviorConfiguration="HelloWorldWcfDataService" binding="webHttpBinding" bindingConfiguration="HelloWorldWcfDataService" contract="Msts.Topics.Chapter10___Services_and_Handlers.Lesson03___WCF_Services.HelloWorldWcfDataService"></endpoint>
      </service>
    </services>
    <client>
      <endpoint address="http://localhost:49354/Topics/Chapter10%20-%20Services%20and%20Handlers/Lesson02%20-%20XML%20Services/HelloWorldService.asmx" binding="basicHttpBinding" bindingConfiguration="HelloWorldServiceSoap" contract="HelloWorldWvfService.HelloWorldServiceSoap" name="HelloWorldServiceSoap" />
      <endpoint address="http://localhost:49354/Topics/Chapter10%20-%20Services%20and%20Handlers/Lesson03%20-%20WCF%20Services/HelloWorldWcfService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHelloWorldWcfService" contract="HelloWorldWcfServiceReference.IHelloWorldWcfService" name="BasicHttpBinding_IHelloWorldWcfService" />
    </client>
  </system.serviceModel>
  <applicationSettings>
    <Msts.Properties.Settings>
      <setting name="Msts_HelloWorldXmlService_HelloWorldService" serializeAs="String">
        <value>http://localhost:49354/Topics/Chapter10%20-%20Services%20and%20Handlers/Lesson02%20-%20XML%20Services/HelloWorldService.asmx</value>
      </setting>
    </Msts.Properties.Settings>
  </applicationSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <elmah>
    <!--
        See http://code.google.com/p/elmah/wiki/SecuringErrorLogPages for 
        more information on remote access and securing ELMAH.
    -->
    <security allowRemoteAccess="false" />
    <!--<errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="elmah-sqlserver" />-->
  </elmah>
  <location path="elmah.axd" inheritInChildApplications="false">
    <system.web>
      <httpHandlers>
        <add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
      </httpHandlers>
      <!-- 
        See http://code.google.com/p/elmah/wiki/SecuringErrorLogPages for 
        more information on using ASP.NET authorization securing ELMAH.

      <authorization>
        <allow roles="admin" />
        <deny users="*" />  
      </authorization>
      -->
    </system.web>
    <system.webServer>
      <handlers>
        <add name="ELMAH" verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" preCondition="integratedMode" />
      </handlers>
    </system.webServer>
  </location>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Ninject" publicKeyToken="c7192dc5380945e7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <log4net>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <threshold value="All" />
      <file value="LogFile" />
      <appendToFile value="false" />
      <rollingStyle value="Date" />
      <datePattern value="'.'yyyyMMdd'.log.txt'" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level %logger - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
  </log4net>
</configuration>