<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <connectionStrings>
    <add name="Msts" providerName="System.Data.SqlClient" connectionString="Data Source=.\sqlexpress;Initial Catalog=pubs;Integrated Security=True"/>
  </connectionStrings>
  
    <system.web>
      <httpModules>
        <add name="RequestLifeCycle" type="Msts.Topics.Chapter03.Lesson01.RequestLifeCycle"/>
      </httpModules>
      <caching>
        <outputCache enableOutputCache="true">
        </outputCache>
        <outputCacheSettings>
          <outputCacheProfiles>
            <add name="filesDependency" duration="30" varyByParam="none" enabled="true" location="Server" />
            <add name="genericDependency" duration="45" enabled="true" />
            <add name="shortTime" duration="15" enabled="true" />
          </outputCacheProfiles>
        </outputCacheSettings>
        <sqlCacheDependency enabled="true" pollTime="5000">
          <databases>
            <add name="PUBS" connectionStringName="Msts" pollTime="2000"/>
          </databases>
        </sqlCacheDependency>
      </caching>
      <trace enabled="true" pageOutput="false" localOnly="true" mostRecent="true" traceMode="SortByTime"/>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
      <pages styleSheetTheme="Blue">
      </pages>
      <membership defaultProvider="AspNetSqlMembershipProvider">
        <providers>
          <remove name="AspNetSqlMembershipProvider"/>
          <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="Msts" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="true" applicationName="/" requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="7" minRequiredNonalphanumericCharacters="1" passwordAttemptWindow="10" passwordStrengthRegularExpression=""/>
        </providers>
      </membership>
      <roleManager defaultProvider="AspNetSqlRoleProvider" enabled="true">
        <providers>
          <remove name="AspNetSqlRoleProvider"/>
          <add name="AspNetSqlRoleProvider" connectionStringName="Msts" applicationName="/" type="System.Web.Security.SqlRoleProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
        </providers>
      </roleManager>
      <anonymousIdentification enabled="true" domain="localhost" cookieProtection="All" cookieRequireSSL="false" cookieless="UseCookies" cookiePath="/" cookieTimeout="10080" cookieSlidingExpiration="true" cookieName="Msts_Profile" />
      <profile enabled="true" inherits="Msts.CustomProfile" defaultProvider="AspNetSqlProfileProvider">
        <providers>
          <remove name="AspNetSqlProfileProvider"/>
          <add name="AspNetSqlProfileProvider" connectionStringName="Msts" applicationName="/" type="System.Web.Profile.SqlProfileProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
        </providers>
      </profile>
    </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <add name="RequestLifeCycle" type="Msts.Topics.Chapter03.Lesson01.RequestLifeCycle" />
      <add name="ChangeMasterPageModule" type="Msts.Topics.Chapter02.Lesson01___MasterPages.ChangeMasterPageModule"/>
    </modules>
  </system.webServer>

  <system.web.extensions>
    <scripting>
      <scriptResourceHandler enableCaching="false" enableCompression="false"/>
      <webServices>
        <profileService enabled="true" readAccessProperties="LastLogin" writeAccessProperties="LastLogin"/>
      </webServices>
    </scripting>
  </system.web.extensions>

</configuration>
