<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="csrfSettings" type="Idunno.AntiCsrf.Configuration.CsrfSettings, Idunno.AntiCsrf" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Msts.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="WebForms" />
  </appSettings>
  <connectionStrings>
    <add name="Msts" providerName="System.Data.SqlClient" connectionString="Data Source=.\sqlexpress;Initial Catalog=pubs;Integrated Security=True" />
  </connectionStrings>
  <system.web>
    <healthMonitoring enabled="true" heartbeatInterval="1">
      <providers>
        <remove name="SqlWebEventProvider" />
        <add connectionStringName="Msts" maxEventDetailsLength="1073741823"
            buffer="false" bufferMode="Notification" name="SqlWebEventProvider"
            type="System.Web.Management.SqlWebEventProvider,System.Web,Version=4.0.0.0,Culture=neutral,PublicKeyToken=b03f5f7f11d50a3a" />
      </providers>
      <rules>
        <add name="All Events" eventName="All Events" profile="Default" provider="EventLogProvider" />
        <add name="Heartbeats" eventName="Heartbeats" profile="Critical" provider="EventLogProvider" />
        <add name="Application Lifetime Events" eventName="Application Lifetime Events" profile="Default" provider="EventLogProvider" />
        <add name="Request Processing Events" eventName="Request Processing Events" profile="Critical" provider="EventLogProvider" />
        <add name="All Errors" eventName="All Errors" profile="Critical" provider="SqlWebEventProvider" />
        <add name="Infrastructure Errors" eventName="Infrastructure Errors" profile="Default" provider="EventLogProvider" />
        <add name="Request Processing Errors" eventName="Request Processing Errors" profile="Critical" provider="EventLogProvider" />
        <add name="All Audits" eventName="All Audits" profile="Default" provider="EventLogProvider" />
        <add name="Failure Audits" eventName="Failure Audits" profile="Critical" provider="EventLogProvider" />
        <add name="Success Audits" eventName="Success Audits" profile="Default" provider="EventLogProvider" />
      </rules>
    </healthMonitoring>
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
    <customErrors defaultRedirect="~/DefaultErrorPage.html" mode="Off" redirectMode="ResponseRewrite"></customErrors>
    <authentication mode="Forms">
      <forms defaultUrl="~/" cookieless="UseCookies" enableCrossAppRedirects="false" loginUrl="login.aspx" name="Mstc_auth" path="/" protection="All" requireSSL="false" slidingExpiration="true" timeout="1800" ticketCompatibilityMode="Framework40" />
    </authentication>
    <globalization culture="auto" uiCulture="auto" enableClientBasedCulture="true" />
    <webParts enableExport="true">
      <personalization defaultProvider="AspNetSqlPersonalizationProvider">
        <authorization></authorization>
        <providers>
          <remove name="AspNetSqlPersonalizationProvider" />
          <add name="AspNetSqlPersonalizationProvider" type="System.Web.UI.WebControls.WebParts.SqlPersonalizationProvider" applicationName="/" connectionStringName="Msts" />
        </providers>
      </personalization>
    </webParts>
    <siteMap enabled="true" defaultProvider="CustomSiteMapProvider">
      <providers>
        <clear />
        <add name="CustomSiteMapProvider" type="Msts.Topics.Chapter05.Lesson02.CustomSiteMapProvider" siteMapFile="Web.sitemap" />
        <add name="XmlWebSiteMapProvider" type="System.Web.XmlSiteMapProvider" description="Site map from file" siteMapFile="Web.sitemap" />
      </providers>
    </siteMap>
    <sessionState mode="InProc" timeout="30" compressionEnabled="true" cookieless="UseCookies" cookieName="myCustomSession" regenerateExpiredSessionId="false" stateNetworkTimeout="10" stateConnectionString="tcpip=localhost:42424" allowCustomSqlDatabase="true" sqlCommandTimeout="10" sqlConnectionString="Data Source=.\sqlexpress;Initial Catalog=pubs;Integrated Security=True" sqlConnectionRetryInterval="5">
      <providers></providers>
    </sessionState>
    <httpCookies httpOnlyCookies="false" requireSSL="false" />
    <httpModules>
      <add name="RequestLifeCycle" type="Msts.Topics.Chapter03.Lesson01.RequestLifeCycle" />
      <add name="ChangeMasterPageModule" type="Msts.Topics.Chapter02.Lesson01___MasterPages.ChangeMasterPageModule" />
      <add name="AntiCSRF" type="Idunno.AntiCsrf.AntiCsrfModule, Idunno.AntiCsrf" />
      <add name="Localization" type="Msts.Topics.Chapter06___Globalization_and_Accessibility.Lesson01___Globalization_and_Localization.LocalizationModule" />
    </httpModules>
    <httpHandlers>
      <add type="Msts.Topics.Chapter10___Services_and_Handlers.Lesson01___Handlers.RetrievingImageAsyncHandler" verb="*" path="*.myhandler" />
    </httpHandlers>
    <caching>
      <outputCache enableOutputCache="true">
        <providers></providers>
      </outputCache>
      <outputCacheSettings>
        <outputCacheProfiles>
          <add name="filesDependency" duration="30" varyByParam="none" enabled="true" location="Server" />
          <add name="genericDependency" duration="45" enabled="true" />
          <add name="shortTime" duration="15" enabled="true" />
        </outputCacheProfiles>
      </outputCacheSettings>
      <sqlCacheDependency enabled="true" pollTime="5000">
        <databases>
          <add name="PUBS" connectionStringName="Msts" pollTime="2000" />
        </databases>
      </sqlCacheDependency>
    </caching>
    <trace enabled="true" pageOutput="false" localOnly="true" mostRecent="true" traceMode="SortByTime" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" encoderType="Microsoft.Security.Application.AntiXssEncoder, AntiXssLibrary" maxRequestLength="4096" requireRootedSaveAsPath="true" />
    <pages styleSheetTheme="Blue" pageBaseType="Msts.MctsBasePage" controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
    </pages>
    <membership defaultProvider="AspNetSqlMembershipProvider">
      <providers>
        <remove name="AspNetSqlMembershipProvider" />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="Msts" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="true" applicationName="/" requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="7" minRequiredNonalphanumericCharacters="1" passwordAttemptWindow="10" passwordStrengthRegularExpression="" />
      </providers>
    </membership>
    <roleManager defaultProvider="AspNetSqlRoleProvider" enabled="true">
      <providers>
        <remove name="AspNetSqlRoleProvider" />
        <add name="AspNetSqlRoleProvider" connectionStringName="Msts" applicationName="/" type="System.Web.Security.SqlRoleProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </providers>
    </roleManager>
    <anonymousIdentification enabled="true" cookieProtection="All" cookieRequireSSL="false" cookieless="UseCookies" cookiePath="/" cookieTimeout="10080" cookieSlidingExpiration="true" cookieName="Msts_Profile" />
    <profile enabled="true" inherits="Msts.CustomProfile" defaultProvider="AspNetSqlProfileProvider">
      <providers>
        <remove name="AspNetSqlProfileProvider" />
        <add name="AspNetSqlProfileProvider" connectionStringName="Msts" applicationName="/" type="System.Web.Profile.SqlProfileProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </providers>
    </profile>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <add name="RequestLifeCycle" type="Msts.Topics.Chapter03.Lesson01.RequestLifeCycle" />
      <add name="ChangeMasterPageModule" type="Msts.Topics.Chapter02.Lesson01___MasterPages.ChangeMasterPageModule" />
      <add name="AntiCSRF" type="Idunno.AntiCsrf.AntiCsrfModule, Idunno.AntiCsrf" />
      <add name="Localization" type="Msts.Topics.Chapter06___Globalization_and_Accessibility.Lesson01___Globalization_and_Localization.LocalizationModule" />
    </modules>
    <handlers>
      <add name="AsynchronousHandlerTest" type="Msts.Topics.Chapter10___Services_and_Handlers.Lesson01___Handlers.RetrievingImageAsyncHandler" verb="*" path="*.myhandler" />
    </handlers>
    <!--<httpErrors 
      errorMode="Detailed"
       existingResponse="Replace">
      <remove statusCode="500" />
      <error responseMode="ExecuteURL"
        statusCode="500" 
        path="/DefaultErrorPage.aspx" />
    </httpErrors>-->
  </system.webServer>
  <system.web.extensions>
    <scripting>
      <scriptResourceHandler enableCaching="false" enableCompression="false" />
      <webServices>
        <profileService enabled="true" readAccessProperties="LastLogin, Language" writeAccessProperties="LastLogin, Language" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <csrfSettings cookieName="__CSRFCOOKIE21" formFieldName="__CSRFTOKEN21" detectionResult="RaiseException" errorPage="" />
  <system.net>
    <mailSettings>
      <smtp deliveryFormat="International" deliveryMethod="Network" from="mstscertificationtests@mailinator.com">
        <network enableSsl="false" host="localhost" port="25" defaultCredentials="true" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="HelloWorldServiceSoap" />
      </basicHttpBinding>
      <customBinding>
        <binding name="HelloWorldServiceSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:49354/Topics/Chapter10%20-%20Services%20and%20Handlers/Lesson02%20-%20XML%20Services/HelloWorldService.asmx"
        binding="basicHttpBinding" bindingConfiguration="HelloWorldServiceSoap"
        contract="HelloWorldWvfService.HelloWorldServiceSoap" name="HelloWorldServiceSoap" />
    </client>
  </system.serviceModel>
  <applicationSettings>
    <Msts.Properties.Settings>
      <setting name="Msts_HelloWorldXmlService_HelloWorldService" serializeAs="String">
        <value>http://localhost:49354/Topics/Chapter10%20-%20Services%20and%20Handlers/Lesson02%20-%20XML%20Services/HelloWorldService.asmx</value>
      </setting>
      <setting name="Msts_ProtectedXmlWebService_ProtectedWebService"
        serializeAs="String">
        <value>http://localhost:49354/Topics/Chapter10%20-%20Services%20and%20Handlers/Lesson02%20-%20XML%20Services/ProtectedWebService.asmx</value>
      </setting>
    </Msts.Properties.Settings>
  </applicationSettings>
  <location path="Topics/Chapter10 - Services and Handlers/Lesson02 - XML Services/ProtectedWebService.asmx" allowOverride="false">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
</configuration>