<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="csrfSettings" type="Idunno.AntiCsrf.Configuration.CsrfSettings, Idunno.AntiCsrf" />
  </configSections>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="WebForms" />
  </appSettings>
  <connectionStrings>
    <add name="Msts" providerName="System.Data.SqlClient" connectionString="Data Source=.\sqlexpress;Initial Catalog=pubs;Integrated Security=True" />
  </connectionStrings>
  <system.web>
    <authentication mode="Forms">
      <forms defaultUrl="~/" cookieless="UseCookies" enableCrossAppRedirects="false" loginUrl="login.aspx" name="Mstc_auth" path="/" protection="All" requireSSL="false" slidingExpiration="true" timeout="1800" ticketCompatibilityMode="Framework40" />
    </authentication>
    <globalization culture="auto" uiCulture="auto" enableClientBasedCulture="true" />
    <webParts enableExport="true">
      <personalization defaultProvider="AspNetSqlPersonalizationProvider">
        <authorization>
        </authorization>
        <providers>
          <remove name="AspNetSqlPersonalizationProvider" />
          <add 
            name="AspNetSqlPersonalizationProvider" 
            type="System.Web.UI.WebControls.WebParts.SqlPersonalizationProvider" 
            applicationName="/"
            connectionStringName="Msts"/>
        </providers>
      </personalization>
    </webParts>
    <siteMap enabled="true" defaultProvider="CustomSiteMapProvider">
      <providers>
        <clear/>
        <add 
          name="CustomSiteMapProvider"
          type="Msts.Topics.Chapter05.Lesson02.CustomSiteMapProvider"
          siteMapFile="Web.sitemap"/>
        <add 
          name="XmlWebSiteMapProvider" 
          type="System.Web.XmlSiteMapProvider"
          description="Site map from file" 
          siteMapFile="Web.sitemap"
           />
      </providers>
    </siteMap>
    <sessionState mode="InProc" timeout="30" compressionEnabled="true" cookieless="UseCookies" cookieName="myCustomSession" regenerateExpiredSessionId="false" stateNetworkTimeout="10" stateConnectionString="tcpip=localhost:42424" allowCustomSqlDatabase="true" sqlCommandTimeout="10" sqlConnectionString="Data Source=.\sqlexpress;Initial Catalog=pubs;Integrated Security=True" sqlConnectionRetryInterval="5">
      <providers></providers>
    </sessionState>
    <httpCookies httpOnlyCookies="true" requireSSL="false"/>
    <httpModules>
      <add name="RequestLifeCycle" type="Msts.Topics.Chapter03.Lesson01.RequestLifeCycle" />
      <add name="ChangeMasterPageModule" type="Msts.Topics.Chapter02.Lesson01___MasterPages.ChangeMasterPageModule" />
      <add name="AntiCSRF" type="Idunno.AntiCsrf.AntiCsrfModule, Idunno.AntiCsrf" />
      <add name="Localization" type="Msts.Topics.Chapter06___Globalization_and_Accessibility.Lesson01___Globalization_and_Localization.LocalizationModule" />
    </httpModules>
    <caching>
      <outputCache enableOutputCache="true">
        <providers></providers>
      </outputCache>
      <outputCacheSettings>
        <outputCacheProfiles>
          <add name="filesDependency" duration="30" varyByParam="none" enabled="true" location="Server" />
          <add name="genericDependency" duration="45" enabled="true" />
          <add name="shortTime" duration="15" enabled="true" />
        </outputCacheProfiles>
      </outputCacheSettings>
      <sqlCacheDependency enabled="true" pollTime="5000">
        <databases>
          <add name="PUBS" connectionStringName="Msts" pollTime="2000" />
        </databases>
      </sqlCacheDependency>
    </caching>
    <trace enabled="true" pageOutput="false" localOnly="true" mostRecent="true" traceMode="SortByTime" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" encoderType="Microsoft.Security.Application.AntiXssEncoder, AntiXssLibrary" maxRequestLength="4096" requireRootedSaveAsPath="true" />
    <pages styleSheetTheme="Blue" pageBaseType="Msts.MctsBasePage" controlRenderingCompatibilityVersion="4.0">
    </pages>
    <membership defaultProvider="AspNetSqlMembershipProvider">
      <providers>
        <remove name="AspNetSqlMembershipProvider" />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="Msts" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="true" applicationName="/" requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="7" minRequiredNonalphanumericCharacters="1" passwordAttemptWindow="10" passwordStrengthRegularExpression="" />
      </providers>
    </membership>
    <roleManager defaultProvider="AspNetSqlRoleProvider" enabled="true">
      <providers>
        <remove name="AspNetSqlRoleProvider" />
        <add name="AspNetSqlRoleProvider" connectionStringName="Msts" applicationName="/" type="System.Web.Security.SqlRoleProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </providers>
    </roleManager>
    <anonymousIdentification enabled="true" cookieProtection="All" cookieRequireSSL="false" cookieless="UseCookies" cookiePath="/" cookieTimeout="10080" cookieSlidingExpiration="true" cookieName="Msts_Profile" />
    <profile enabled="true" inherits="Msts.CustomProfile" defaultProvider="AspNetSqlProfileProvider">
      <providers>
        <remove name="AspNetSqlProfileProvider" />
        <add name="AspNetSqlProfileProvider" connectionStringName="Msts" applicationName="/" type="System.Web.Profile.SqlProfileProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </providers>
    </profile>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <add name="RequestLifeCycle" type="Msts.Topics.Chapter03.Lesson01.RequestLifeCycle" />
      <add name="ChangeMasterPageModule" type="Msts.Topics.Chapter02.Lesson01___MasterPages.ChangeMasterPageModule" />
      <add name="AntiCSRF" type="Idunno.AntiCsrf.AntiCsrfModule, Idunno.AntiCsrf" />
      <add name="Localization" type="Msts.Topics.Chapter06___Globalization_and_Accessibility.Lesson01___Globalization_and_Localization.LocalizationModule" />
    </modules>
  </system.webServer>
  <system.web.extensions>
    <scripting>
      <scriptResourceHandler enableCaching="false" enableCompression="false" />
      <webServices>
        <profileService enabled="true" readAccessProperties="LastLogin, Language" writeAccessProperties="LastLogin, Language" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <csrfSettings cookieName="__CSRFCOOKIE21" formFieldName="__CSRFTOKEN21" detectionResult="RaiseException" errorPage="" />
  <system.net>
    <mailSettings>
      <smtp deliveryFormat="International" deliveryMethod="Network" from="mstscertificationtests@mailinator.com">
        <network enableSsl="false" host="localhost" port="25" defaultCredentials="true" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>