<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <system.serviceModel>
    <services>
      <service name="Service.ServiceImplementations.LoggingService">
        <endpoint address="net.tcp://localhost:8002/LoggingEndpoint"
                  binding="netTcpBinding"
                  contract="Service.ServiceContracts.ILoggingService">
        </endpoint>
      </service>
      <!--<service name="Service.ServiceImplementations.QueueLoggingService">
        <endpoint address="net.msmq://localhost/private/LoggingQueue"
                  binding="netMsmqBinding"
                  contract="Service.ServiceContracts.IQueueLoggingService">
        </endpoint>
      </service>-->
    </services>
    <!--<bindings>
      <netMsmqBinding>
        <binding exactlyOnce="false">
          <security mode="None">
          </security>
        </binding>
      </netMsmqBinding>
    </bindings>-->
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>