# Nuget packages

/VS 2012/src/CQRS/SimpleQuery01/packages
/VS 2012/src/WebForms/MSTS 70-515/packages
/VS 2012/src/Blog/UnitTestQueries/packages
/VS 2012/src/Angular/NG-Basics/packages
/VS 2012/src/WCF/MSMQ/WcfMsmqIntegration/packages
/VS 2012/src/Ninject/NinjectWithInMvcAndWcf/packages
/VS 2012/src/Misc/ExceptionFormatter/packages
/VS 2012/src/Angular/Angular/packages

# Log files

/VS 2012/src/WebForms/MSTS 70-515/LogFile.*.log.txt

# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj

# Stylecop cache

[Ss]tyle[Cc]op.[Cc]ache

# mstest test results
TestResults
*.suo
*.gpstate
*.user