# Nuget packages

/VS 2012/src/CQRS/SimpleQuery01/packages
/VS 2012/src/WebForms/MSTS 70-515/packages

# Log files

/VS 2012/src/WebForms/MSTS 70-515/LogFile.*.log.txt
/VS 2012/src/WebForms/MSTS 70-515/LogFile*

# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj

# Stylecop cache

[Ss]tyle[Cc]op.[Cc]ache

# mstest test results
TestResults
*.suo