@{
    ViewBag.Title = "Index";
}

<h2>Welcome mate!</h2>

<h3>
    @this.ViewBag.Greeting, my friend!!!
</h3>

    We are going to have an awesome party, you are totally invited, we need to reserve
    the invitations so in order to get yours, please register

    Beers are wating in the freezer =)

<p>
    @Html.ActionLink("Register VIP", "Register")
</p>