<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <system.serviceModel>
    <client>
      <!--To connect to the NET.TCP endpoint uncomment the following endpoint-->
      <endpoint name="Service.ServiceContracts.LoggingService"
                address="net.tcp://localhost:8002/LoggingEndpoint"
                binding="netTcpBinding"
                contract="Service.ServiceContracts.ILoggingService">
      </endpoint>

      <endpoint name="Service.ServiceContracts.LoggingService WSHttp"
                address="http://localhost/Service.WebHost/loggingservice"
                binding="wsHttpBinding"
                contract="Service.ServiceContracts.ILoggingService">
      </endpoint>

      <endpoint name="Service.ServiceContracts.QueueLoggingService NET MSMQ"
                address="net.msmq://localhost/private/Service.WebHost/QueueLoggingService.svc"
                binding="netMsmqBinding"
                contract="Service.ServiceContracts.IQueueLoggingService">
      </endpoint>
    </client>
    <bindings>
      <netMsmqBinding>
        <binding exactlyOnce="true" durable="true" maxRetryCycles="15" receiveRetryCount="15">
          <security mode="None">
            <message clientCredentialType="None" />
            <transport msmqAuthenticationMode="None" />
          </security>
        </binding>
      </netMsmqBinding>
    </bindings>
  </system.serviceModel>
</configuration>