@{
    ViewBag.Title = "Order Completed";
}

<h2>Order Completed</h2>

Thank you, your order will be processed soon

<br />

<div class="actionButtons">
    <a href="@this.ViewData["ReturnUrl"]">Continue shopping</a>
</div>