<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.1.1" targetFramework="net45" />
  <package id="Autofac.Extras.CommonServiceLocator" version="3.0.1" targetFramework="net45" />
  <package id="CommonServiceLocator" version="1.0" targetFramework="net45" />
  <package id="CommonServiceLocator.NinjectAdapter.Unofficial" version="3.0.1.10" targetFramework="net45" />
  <package id="Ninject" version="3.0.1.10" targetFramework="net45" />
  <package id="Ninject.Extensions.Conventions" version="3.0.0.11" targetFramework="net45" />
  <package id="NLog" version="2.0.1.2" targetFramework="net45" />
  <package id="NLog.Config" version="2.0.1.2" targetFramework="net45" />
  <package id="NLog.Schema" version="2.0.1.2" targetFramework="net45" />
  <package id="NuGet.PackageNPublish" version="0.7.0.0" targetFramework="net45" />
  <package id="slf4net" version="0.1.32.1" targetFramework="net45" />
  <package id="slf4net.NLog" version="0.1.32.1" targetFramework="net45" />
  <package id="slf4net.Simple" version="0.1.32.1" targetFramework="net45" />
</packages>