<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>

    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
          <endpointBehaviors>
            <behavior name="IMyServie_Behavior">
              <enableWebScript/>
            </behavior>
          </endpointBehaviors>
        </behaviors>
      <bindings>
        <webHttpBinding>
          <binding name="IMyService_Binding" crossDomainScriptAccessEnabled="true">
          </binding>
        </webHttpBinding>
      </bindings>
      <services>
        <service
          name="IMyService">
          <endpoint
            address=""
            behaviorConfiguration="IMyServie_Behavior"
            binding="webHttpBinding"
            bindingConfiguration="IMyService_Binding"
            contract="MyServiceHost.IMyService">
          </endpoint>
        </service>
      </services>
        <serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true" />
    </system.serviceModel>
</configuration>
