<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  
    <system.web>
      <authentication mode="Forms">
        <forms loginUrl="~/login.aspx" enableCrossAppRedirects="false" slidingExpiration="false" timeout="2" protection="All" ticketCompatibilityMode="Framework40" name="test" cookieless="UseCookies" requireSSL="false" defaultUrl="~/ReplyAttack.aspx">
          <credentials>
            <user name="admin" password="secret"/>
          </credentials>
        </forms>
      </authentication>
      <sessionState mode="InProc" regenerateExpiredSessionId="false" timeout="3" />
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <add name="AntiReplyAttack" type="ControllingInformation.ReplyAttackModule"/>
    </modules>
  </system.webServer>

</configuration>
